<%= form_with(model: profile, local: true) do |form| %>
  <div class="content" style="margin-left:25%">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                  <div class="card-icon">
                    <i class="fa fa-person"></i>
                  </div>
                  <h4 style="font-size:30px;" class="card-title">Complete your profile</h4>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Username</label>
                          <%= form.text_field :username,  {:class => 'form-control'}%>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <%= form.label :avatar %><br>
                          <%= form.file_field :image,  {:class => 'form-control'} %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">First Name</label>
                          <%= form.text_field :first_name,  {:class => 'form-control'} %>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Last Name</label>
                          <%= form.text_field :last_name,  {:class => 'form-control'} %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Adress</label>
                          <%= form.text_field :address,  {:class => 'form-control'} %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">City</label>
                          <%= form.text_field :city,  {:class => 'form-control'} %>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Country</label>
                          <%= form.text_field :country,  {:class => 'form-control'} %>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Postal Code</label>
                          <%= form.text_field :postal_code,  {:class => 'form-control'} %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>About Me</label>
                          <div class="form-group">
                            <%= form.text_field :about,  {:class => 'form-control'} %>
                          </div>
                        </div>
                      </div>
                    </div>
                    <%= form.submit%>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>